version: 2
jobs:
  build:
    working_directory: ~/vinyl
    docker:
      - image: cimg/android:2022.03
    environment:
      JVM_OPTS: -Xmx3200m
    steps:
      - checkout
      - run:
          name: Merge Feature Branches
          command: ./.circleci/merge-feature-branches
      - restore_cache:
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}
      - run:
          name: Download Dependencies
          command: ./gradlew androidDependencies
      - save_cache:
          paths:
            - ~/.gradle
          key: jars-{{ checksum "build.gradle" }}-{{ checksum  "app/build.gradle" }}
      - run:
          name: Build Debug
          command: ./gradlew assembleDebug
      - run:
          name: Build Release
          command: ./gradlew assembleRelease
      - store_artifacts:
          path: app/build/outputs/apk
          destination: outputs
      - run:
          name: Static Analysis
          command: ./gradlew lint
      - run:
          name: Run Tests
          command: ./gradlew test
      - store_artifacts:
          path: app/build/reports
          destination: outputs
      #- store_test_results:
      #    path: app/build/test-results
